div.form{float:left;border:none;}
	div.actions{float:right;}
	form div.submit{margin-top:3px;}
	div.form select{
		width: 100%;
		font-size: 140%;
		padding: 1%;
	}
	button{
		font-weight:normal;
		padding: 4px 8px;
		border:1px solid #aaac62;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
		border-radius:8px;
		text-decoration:none;
		text-shadow: #fff 0px 1px 0px;
		min-width: 0;
		display: inline;
		font-size: 110%;
		width: auto;
		background:#62af56;
		background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
		background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
		border-color: #2d6324;
		color: #000;
		text-shadow: #8cee7c 0px 1px 0px;
	}
	div.actions form{
		text-align: right;
		margin: 0px;
		width: 100%;
	}
	div.actions form div.submit{padding:0;}
	div.actions form div.submit button{ width: 100%;padding: 1rem;}
	div.actions b{float:right;}
	div.actions h5{margin-bottom:2rem;}
	input.number{text-align:right;}
	div.hidden{display:none;}